.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.slideshow_image{
    width: 100%;
}

button{
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}